<div mat-tab-nav-bar style="align-items: flex-end" class="nav-cont" [tabPanel]="tabPanel">
  <div class="logoName">
    <img style="height: 40px;" src="./assets/Logo.png">
    <img style="height: 25px; margin-right: auto" src="assets/JPinilla.png">
  </div>
  <a mat-raised-button color="primary" [routerLink]="index">Home</a>
  <a mat-raised-button color="primary" [routerLink]="studies">Studies</a>
  <a mat-raised-button color="primary" [routerLink]="experience">Experience</a>
  <a mat-raised-button color="primary" [routerLink]="familyReferences">Familiar Ref</a>
  <a mat-raised-button color="primary" [routerLink]="personalReferences">Personal Ref</a>
</div>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<router-outlet></router-outlet>
