<div class="container">

  <mat-card>

    <mat-card-title-group>
      <mat-card-title>Jonathan Daniel Pinilla Forero</mat-card-title>
      <mat-card-subtitle>Multimedia Engernieer<br>Universidad Militar Nueva Granada</mat-card-subtitle>
      <img mat-card-xl-image src="https://avatars.githubusercontent.com/u/86122841?v=4" alt="Profile picture">
    </mat-card-title-group>

    <mat-card-content>
      {{personalInfo}}
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>

      <mat-list role="list">

        <div mat-subheader>Contact Information</div>

        <mat-list-item>
          <mat-card-subtitle style="margin-bottom: 0; margin-right: 5px;">
            <mat-icon>local_phone</mat-icon>
          </mat-card-subtitle>
          <mat-card-subtitle style="margin-bottom: 0; height: fit-content">Home phone: 601 883 6340</mat-card-subtitle>
        </mat-list-item>

        <mat-list-item>
          <mat-card-subtitle style="margin-bottom: 0; margin-right: 5px;">
            <mat-icon>smartphone</mat-icon>
          </mat-card-subtitle>
          <mat-card-subtitle style="margin-bottom: 0; height: fit-content">Mobile phone: 3022920228</mat-card-subtitle>
        </mat-list-item>

        <mat-list-item>
          <mat-card-subtitle style="margin-bottom: 0; margin-right: 5px;">
            <mat-icon>mail</mat-icon>
          </mat-card-subtitle>
          <mat-card-subtitle style="margin-bottom: 0; height: fit-content"><a href="mailto:jonathan_pinilla@outlook.com"
                                                                              style="text-decoration: none; margin-bottom: 0; color: rgba(255,255,255,.7);">Email:
            jonathan_pinilla@outlook.com</a></mat-card-subtitle>
        </mat-list-item>

        <mat-list-item>
          <mat-card-subtitle style="margin-bottom: 0; margin-right: 5px;">
            <mat-icon>home</mat-icon>
          </mat-card-subtitle>
          <mat-card-subtitle style="margin-bottom: 0; height: fit-content">Address: Diagonal 4 # 0 - 10, Cajicá, Colombia</mat-card-subtitle>
        </mat-list-item>
      </mat-list>

    </mat-card-footer>
  </mat-card>
</div>
